<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!--
  <meta http-equiv="Content-Security-Policy"
    content="script-src-elem 'self' http://localhost:3001/main 'unsafe-inline' 'unsafe-eval';"> --}}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <title>The Loo Review</title>
</head>

<body style="background-color: #333;">
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="/main" class='fas fa-toilet' style='font-size:36px;text-shadow: 0px 0px 10px black;'> The Loo
          Review</a>
        <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/main">Nearby</a></li>
          <li id="add"><a href="#add-loo" class="modal-trigger">Add a Loo</a></li>
          {{#if logged_in}}
          <li><a class="submit-logout">Logout</a></li>
          {{else}}
          <li><a href="/">Login</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-menu">
      <li><a href="/main">Nearby</a></li>
      <li><a href="#add-loo" class="modal-trigger">Add a Loo</a></li>
      {{#if logged_in}}
      <li><a id="submit-logout">Logout</a></li>
      {{else}}
      <li><a href="/">Login</a></li>
      {{/if}}
    </ul>
  </header>
  <main>
    {{{body}}}
  </main>
  <section>

    <div id="add-loo" class="modal">
      <div class="modal-content">
        <h2>Add a New Loo</h2>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="facility_name" type="text" class="validate">
                <label for="facility_name">Business Name</label>
              </div>
              <div class="input-field col s12">
                <input id="address" type="text" class="validate"></input>
                <label for="address">Address</label>
              </div>
              <div class="input-field col s12">
                <input id="city" type="text" class="validate"></input>
                <label for="city">City</label>
              </div>
              <div class="input-field col s6">
                <input id="state" type="text" class="validate"></input>
                <label for="state">State</label>
              </div>
              <div class="input-field col s6">
                <input id="zip" type="number" class="validate"></input>
                <label for="zip">Zip Code</label>
              </div>

              <button type="submit" id="add-btn" class="btn">Submit</button>
            </div>
          </form>
        </div>
  </section>
</body>

{{!-- script for materialize styling featuers --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>