
{{#each loos as |loo|}}
<<<<<<< HEAD
<div class="col s4">
  <h2 class="header">LOCATION NAME</h2>
  <div class="card horizontal">
    <div class="card-image">
      <div id="map"></div>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Average Rating: {{loo.rating}}</p>
      </div>
      <div class="card-action">
        <a href="#">See Reviews</a>
      </div>
    </div>
  </div>
</div>
=======
  <div class="col s4">
    <h2 class="header">LOCATION NAME</h2>
    <div class="card horizontal">
      <div class="card-image">
        <div id="map"></div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Average Rating: {{loo.rating}}</p>
        </div>
        <div class="card-action">
          <a href="#">See Reviews</a>
        </div>
      </div>
    </div>
  </div>
>>>>>>> a287c0f5335444dc2c39a9922c3bc0e65d8690ee
{{/each}}


<script async
<<<<<<< HEAD
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz091kyRUnde4u6imdbCufy_dba23YnPc&callback=initMap">
  </script>
=======
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz091kyRUnde4u6imdbCufy_dba23YnPc&callback=initMap">
</script>
>>>>>>> a287c0f5335444dc2c39a9922c3bc0e65d8690ee
