
{{#each loos as |loo|}}
  <div>
    <p style="color:white">Rating: {{loo.rating}}</p>
    <p style="color:white">Location: {{loo.location_id}}</p>
  </div>
{{/each}}

<div id="map"></div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz091kyRUnde4u6imdbCufy_dba23YnPc&callback=initMap&libraries=&v=weekly"
      async></script>