<!-- view loo + see reviews -->
<div id="map" style="height:300px;"></div>
<div id="filteredLoos">
  {{#each filteredLoos as |loo|}}
  {{!-- added id to render image different than main handlebars --}}
  <div class="col s12 m6" id="image">
    <h2 class="header loo-name">{{loo.facility_name}}</h2>
    <p class="address">{{loo.address}}</p>
    <div class="card">
      <div class="card-content">
        <p>Average Rating: {{loo.rating}}</p>
      </div>
      <div class="card-action">
        <a class="button see-reviews" href="/loo/{{loo.id}}">See Reviews &#8674;</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz091kyRUnde4u6imdbCufy_dba23YnPc&callback=initMap" async defer></script>
{{!--
<script src="../assets/js/loo.js"></script> --}}
<script src="/assets/js/index.js"></script>
