 <div id="map"></div>

{{#each loos as |loo|}}
{{!-- added id to render image different than main handlebars --}}
  <div class="col s12 m6" id="image">
    <h2 class="header">{{loo.facility_name}}</h2>
    <p class="address">{{loo.address}}</p>
    <div class="card">
      
        <div class="card-content">
          <p>Average Rating: {{loo.rating}}</p>
        </div>
        <div class="card-action">
          <a href="#">See Reviews</a> <!-- view loo + see reviews -->
        </div>
      </div>
    
  </div>
{{/each}}


<scrip async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz091kyRUnde4u6imdbCufy_dba23YnPc&callback=initMap">
</scrip>
