<!-- view filtered loos with map + see ratings -->
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
   <link rel="stylesheet" href="../assets/css/reset.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Loos Closest to You</title>
</head>

<div id="map" style="height:300px;"></div>
<div id="filteredLoos">
  {{#each filteredLoos as |loo|}}
  <div class="col s12 m6" id="image">
    <h2 class="header loo-name">{{loo.facility_name}}</h2>
    <p class="address">{{loo.address}}</p>
    <div class="card">
      <div class="card-content">
        <p>Average Rating: <i class="fas fa-poo-storm fa-lg"></i> <i class="fas fa-poo-storm fa-lg"></i> <i class="fas fa-poo-storm fa-lg"></i> <i
          class="fas fa-poo-storm fa-lg"></i></p>
        {{!-- {{loo.rating}} --}}
      </div>
      <div class="card-action">
        <a class="button see-reviews" href="/loo/{{loo.id}}">See Reviews &#8674;</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz091kyRUnde4u6imdbCufy_dba23YnPc&callback=initMap" async defer></script>
{{!-- script to add loo --}}
<script src="../assets/js/loo.js"></script>
<script src="../assets/js/review.js"></script>
{{!-- script for location and associated loos --}}
<script src="../assets/js/index.js"></script>
{{#if logged_in}}
{{!-- script for logout -> when logged in --}}
<script src="../assets/js/logout.js"></script>
{{/if}}
