<div class="row">
    <h3>Create an Account</h3>
    <form class="col s6">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Name" id="first_name" type="text" class="validate">
                <label for="name">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Username" id="disabled" type="text" class="validate">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
    </form>
    <h3>Sign in to Your Account</h3>
    <form class="col s6">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Username" id="disabled" type="text" class="validate">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>

    </form>
</div>
