<!-- selected loo + reviews -->

<h2>Add a review</h2>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Title" id="title" type="text" class="validate">
                <label for="title">Review Title</label>
            </div>
            <div class="input-field col s12">
                <textarea id="review-text" placeholder="Write your review..." class="materialize-textarea"></textarea>
                <label for="review-text">Review</label>
            </div>
        </div>
    </form>
</div>
