<!-- new review handlebars -->
<h2>Add a review</h2>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
            
        </div>
        <div class="input-field col s12">
          <textarea id="review-text" class="materialize-textarea"></textarea>
          <label for="review-text">Write your review...</label>
        </div>
      </div>
    </form>
  </div>