<!-- selected loo + reviews -->

<!-- TODO: render selected loo at the top: include average rating for selected loo
                and maybe a photo -->

<!-- Add a review will be a button to a form -->
<h2>Add a review</h2>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Title" id="title" type="text" class="validate">
                <label for="title">Review Title</label>
            </div>
            <div class="input-field col s12">
                <textarea id="review-text" placeholder="Write your review..." class="materialize-textarea"></textarea>
                <label for="review-text">Review</label>
            </div>
        </div>
    </form>
</div>
<!-- added checkboxs for bathroom features -->
    <form action="#">
    <p>
      <input type="checkbox" id="test5" />
      <label for="test5">Had Toilet Paper</label>
    </p>
    <p>
      <input type="checkbox" id="test6" checked="checked" />
      <label for="test6">Clean</label>
    </p>
     <p>
      <input type="checkbox" id="test5" />
      <label for="test5">Wheelchair Accessible</label>
    </p>
    <p>
      <input type="checkbox" id="test6" checked="checked" />
      <label for="test6">Changing Table</label>
    </p>
     <p>
      <input type="checkbox" id="test5" />
      <label for="test5">Paper Towels</label>
    </p>
    <p>
      <input type="checkbox" id="test6" checked="checked" />
      <label for="test6">Hand Dryer</label>
    </p>

<!-- render associated reviews: include username and date created -->

{{!-- <script src="./assets/js/loo.js"></script>
<script src="./assets/js/review.js"></script> --}}
