/* Global styling */

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

nav ul a {
  font-size: 25px;
  text-shadow: 0px 0px 10px black;
}

.nav-wrapper {
  background-color:teal;
  font-size: 25px;
}
.fa-toilet:before {
  padding-left: 10px;
}

 h3, .validate {
 color:white;
 text-shadow: 0px 0px 10px black;
}
#title, #loc-name, #address, #city,#state,#zip {
  color:black;
}

.tp {
  background-image: url("../images/tp.jpg");
  background-size: cover;
}
#image {
  background-image: url("../images/stall.jpg");
  background-size: cover;
  background-position: center;
}

.address {
  font-size: 25px;
  color:white;
  text-align:center;
}

li {
  font-family: inherit;
  color: white;
  position: static;
  text-align: right;
  top: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 25px;
}
.right {
  font-size: 100px;
}
li a:hover{
  background-color: #595959;
}

.header{
  padding: 20px;
  font-family:inherit;
  font-size: 25px;
  color: white;
  text-align:center;
  text-shadow: 0px 0px 10px black;
}

.selected-loo-hero{
  background-image: url("../images/classy-toilet-bowl.jpg")
}
