/* TODO: Add code to style over framework */
/* If you correct or add to someone's code, leave comment explaining why so it doesn't get changed back */

* { /*brandon + janee */
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.nav-wrapper {
  background-color:steelblue;
}
 h3, .validate {
 color:white; 
}
li {
  font-family: inherit;
  color: white;
  position: static;
  text-align: right;
  top: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 25px;
}

/* Janee's css */
li {
  font-family: inherit;
  color: white;
  position: static;
  text-align: right;
  top: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 25px;
}

li a:hover{
  background-color: #595959;
}

.header{
  padding: 20px;
  font-family:inherit;
  font-size: 25px;
  color: white;
  text-align:center;
}
